
* {
  line-height: 1;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../images/silicon.png");
  
}

.inner {
  background-color: rgba(0, 0, 0, 0.9);
  box-shadow: 0 0 5px 5px #000;
  border-radius: 0.5em;
  color: #FFF;
  margin: 1em auto;
  padding: 1em;
   margin-left: auto;
    margin-right: auto; 
    width: 70%;
}
.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

h1 {
  font-size: 1.5em;
}

p {
  text-align: center;
  font-family: 'digital-clock-font';
  font-size: 3em;
  color: white;
    text-shadow: 0 0 3px red;
}
@media screen and (max-width: 480px) {

   p { 
      font-size: 1em; 
   }

}